/* CSS */

body {
	margin: 0;
	padding: 0;
	background-image: linear-gradient(to bottom right, black, gray);
	background-size:cover;
	background-color:white;
	width:auto;
	height:100%;
	
}

.header	{

	border: 2px solid transparent;
	border-radius: 0px 0px 30px 30px;
	width:auto;
	height:100px;
	margin: auto;
	background: black;
}

/*menu*/

#menu	{
	width: 0px;
	height:0px;
	border: 30px solid #0000CD;
	border-radius:8px;
	float:right;
	margin:20px;
}

#menu:before	{
	content:'';
	position:absolute;
	border: 5px solid white;
	border-radius:10px;
	width: 35px;
	transform: translate(-50%,-190%);
	
}

#menu:after	{
	content:'';
	position:absolute;
	border: 5px solid white;
	border-radius:10px;
	width: 35px;
	transform: translate(-50%,-50%);
	
}
#menu1{
	content:'';
	position:absolute;
	border: 5px solid white;
	border-radius:10px;
	width: 35px;
	transform: translate(-50%,90%);

}

#menu:hover{
	animation: spin 2s;
}

@keyframes spin {
  from { transform: rotate(0deg);}
  to { transform: rotate(360deg);}
}

/*Title */
.title{
	position: absolute;
	left:40%;
	Right:40%;

	
}
.title h1{
	color:#fff;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.title h1:hover{
	color: #fdec6e;
	text-shadow:0px 0px 30px #fdec6e;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	
}

		
/* logo */

#logo	{
	width: 0px;
	height: 0px;
	left:5%;
	position: absolute;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 50px solid red;
	transform: translate(50%,20%);
}



#logo:before	{
	content:'';
	position: absolute;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 40px solid black;
	transform: translate(-50%,55%);
}

#logo:after		{
	content:'';
	position: absolute;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 40px solid red;
	transform: translate(-50%,75%);
}

#logo:after		{
	content:'';
	position: absolute;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 40px solid black;
	transform: translate(-50%,120%);
}
#logo1	
{
	position: absolute;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 40px solid red;
	transform: translate(-50%,75%)
}

/* logo */


.mainL {
	border: 2px solid transparent;
	margin: 10px;
	width: 800px;
	height: auto;
	float:left;
}
#PBupdates	{
	border: 2px solid transparent;
	width:750px;
	height:150px;
	margin: 0 auto;
	margin-top:10px;
	background-color:rgba(160, 160, 160, 0.726);
	border-radius:30px;
}


#pmanga{

	height:150px;
	width:100px;
	margin: 0px 23px ;
	float:left;
	overflow: hidden;

}

#pmanga img{
	width:100px;
	height:130px;
	transition: transform .2s; /* Animation */
	border-radius: 5px;
}
#pmanga img:hover{
	transform: scale(1.5);
}


#pmanga p {
	margin:0;
	background-color: #004A7F;
    color: #FFFFFF;
    text-align: center;
  text-decoration: none;
    border-radius: 10px;
    font-size: 15px;
    -webkit-animation: glowing 1500ms        infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
  
}
#RRB	{

	width:760px;
	margin: 0 auto;
	margin-top:10px;
}
#history{
	border:2px solid transparent;
	float:left;
	width:375px;
	height:1100px;
	border-radius: 10px;
	background-color: honeydew;
}
#hmanga{
	width:350px;
	height:100px;
	border:2px solid transparent;
	margin:10px;
}
#hmanga img{
	width: 80px;
	height: 100px;
	border-radius: 5px;
	float: left;
}

#hmanga ul{
	float:left;
	list-style-type: none;
}
#hmanga li:first-child{
	font-weight: bold;
	color: black;
	margin-bottom:10px

}
#hmanga a{
	text-decoration: none;
	background-color: rgba(121, 120, 120, 0.719);
	border-radius: 10px;
	color: blue;
	width: auto;
	padding: 0px 3px;
	text-align: center;
	float:left;
	
}
#hmanga p{

float: left;
margin:0px 10px;
}




#bookmark{
	border:2px solid transparent;
	float:right;
	width:375px;
	height:1100px;
}
#bmanga{
	width:350px;
	height:50px;
	border:2px solid transparent;
	margin:10px;
	border-radius:10px;
	background-color:rgba(194, 192, 192, 0.788);
	text-decoration: none;
	text-align: center;
}
#bmanga a{
	text-decoration: none;
	font-weight: bold;
}
.mainR{
	border: 2px solid transparent;
	background-color: rgba(173, 166, 173, 0.589);
	margin: 10px;
	width: 450px;
	height: auto;
	border-radius: 20px;
	float:right;
}
/*signbutton*/
#signbutton	{

	width:232px;
	height:50px;
	margin: 0 auto;
	margin-top:10px;
}

#signin{
	line-height: -10px;
	float: left;
	margin-right: 10%;
	border: 2px solid white;
	text-align: center;
	width: 100px;
	height: 30px;
	color:white;
	text-decoration: none;
	border-radius: 30px;
	background-color: grey;

}
#signup{
	float: left;
	border: 2px solid white;
	text-align: center;
	width: 100px;
	height: 30px;
	text-decoration: none;
	color:white;
	border-radius: 30px;
	background-color: grey;

}

#search{

	width:230px;
	height:50px;
	margin: 0 auto;
	margin-top:10px;
}
#search input[type=text] {
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
	border-radius: 10px;;
  }
#popular{
	border: 2px solid transparent;
	width:420px;
	height:auto;
	margin: 0 auto;
	margin-top:10px;
}

#popular img{
	widows: 50px;
	height:100px;
	float:left;
	border-radius: 5px;
}

#manga {
width:400px;
height:100px;
border-bottom:2px solid rgba(134, 59, 59, 0.808);
margin:10px;
}

#manga a{
	text-decoration: none;
	background-color: rgb(121, 120, 120);
	border-radius: 10px;
	color: blue;
}


#manga ul{
	float:left;
	list-style-type: none;
}
#manga li:first-child{
	font-weight: bold;
	color: black;
}

#manga p{
    background-color: #004A7F;
    color: #FFFFFF;
    text-align: center;
    border-radius: 10px;
   display: inline-block;
    font-size: 10px;
    -webkit-animation: glowing 1500ms        infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
@-webkit-keyframes glowing {
	0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
	50% { background-color: #FF0000; -webkit-box-shadow: 0 0 10px #FF0000; }
	100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
  }
  
  @-moz-keyframes glowing {
	0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
	50% { background-color: #FF0000; -moz-box-shadow: 0 0 10px #FF0000; }
	100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
  }
  
  @-o-keyframes glowing {
	0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
	50% { background-color: #FF0000; box-shadow: 0 0 10px #FF0000; }
	100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  }
  
  @keyframes glowing {
	0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
	50% { background-color: #FF0000; box-shadow: 0 0 10px #FF0000; }
	100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  }



footer
{
	width:100%;
	border: 2px solid transparent;
	border-radius: 30px 30px 0px 0px;
	color: white;
	background-color: black;
	text-align: center;
	height: 100px;
	padding-top: 15px;
	overflow:hidden;
  	
}

footer i{
	margin: 0px 20px;


}
.box {
	top: 0;
	transform: rotate(80deg);
	left: 0;
}

.wave {
	position: fixed;
	top: 0;
	left: 0;
  opacity: .4;
  position: absolute;
  top: 3%;
  left: 10%;
  background: #0af;
  width: 1500px;
  height: 1300px;
  margin-left: 100px;
  margin-top: 100px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 7000ms infinite linear;
}

.wave.-three {
  animation: drift 7500ms infinite linear;
	position: fixed;
	background-color: #77daff;
}

.wave.-two {
  animation: drift 3000ms infinite linear;
  opacity: .1;
  background: black;
	position: fixed;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

/*LOADING SPACE*/

.contain {
	animation-delay: 4s;
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  background: #25a7d7;
  background: -webkit-linear-gradient(#25a7d7, #2962FF);
  background: linear-gradient(#25a7d7, #25a7d7);
}


/*Animation*/
.icon:nth-child(2) img {-webkit-animation-delay: 0.2s;animation-delay: 0.2s}
.icon:nth-child(3) img {-webkit-animation-delay: 0.3s;animation-delay: 0.3s}
.icon:nth-child(4) img {-webkit-animation-delay: 0.4s;animation-delay: 0.4s}


@-webkit-keyframes anim{
  0% {
    -webkit-transform: scale(0,0) rotateZ(-90deg);
    transform: scale(0,0) rotateZ(-90deg);opacity:0
  }
  30% {
    -webkit-transform: scale(1,1) rotateZ(0deg);
    transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  50% {
    -webkit-transform: scale(1,1) rotateZ(0deg);
    transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  80% {
    -webkit-transform: scale(0,0) rotateZ(90deg);
    transform: scale(0,0) rotateZ(90deg);opacity:0
  }
}

@keyframes anim{
  0% {
    -webkit-transform: scale(0,0) rotateZ(-90deg);
    transform: scale(0,0) rotateZ(-90deg);opacity:0
  }
  30% {
    -webkit-transform: scale(1,1) rotateZ(0deg);transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  50% {
    -webkit-transform: scale(1,1) rotateZ(0deg);
    transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  80% {
    -webkit-transform: scale(0,0) rotateZ(90deg);
    transform: scale(0,0) rotateZ(90deg);opacity:0
  }
}







	